.custom-select {
    border-radius: 32px;
    background-color: #5426FF;
    border: solid 2px #858585;
    color: #ffffff;
    padding: 10px 20px;
}

.custom-select:hover {
    background-color: #7752FE;
}