
.step {
    font-size: 18px;
    font-weight: bold;
}

.step__number {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}