
.btn {
    padding: 6px 10px;
    border-radius: 32px;
    font-weight: bold;
    min-width: 120px;
    width: 100%;
    outline: none;
}

.btn.primary {
    background-color: #007bff;
    color: white;
    border: solid 2px #007bff;
}

.btn.primary:hover {
    background-color: #ffffff;
    color: #007bff;
}

.btn.outline {
    border: solid 2px #121212;
    background-color: #ffffff;
    color: #121212;
}

.btn.outline:hover {
    background-color: #121212;
    color: #ffffff;
}