
.btn {
    padding: 6px 10px;
    border-radius: 32px;
    font-weight: bold;
    min-width: 120px;
    width: max-content;
    outline: none;
}

.btn.icon {
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: unset;
}


.btn.primary,
.btn.icon.primary  {
    background-color: #5426FF;
    color: white;
    border: solid 2px #858585;
}

.btn.primary:hover,
.btn.icon.primary:hover {
    background-color: #7752FE;
}

.btn.secondary,
.btn.icon.btn.secondary  {
    background-color: #4E5051;
    color: white;
    border: solid 2px #858585;
}

.btn.secondary:hover,
.btn.icon.btn.secondary:hover {
    background-color: #858585;
}

.btn.outline {
    border: solid 2px #121212;
    background-color: #ffffff;
    color: #121212;
}

.btn.outline:hover {
    background-color: #121212;
    color: #ffffff;
}