.sidebar {
    height:  100%;
    background-color: #27292B;
    border-radius: 22px;
    padding: 20px;
    width: 240px;
    position: sticky;
    top: 0px;
}

.sidebar-logo {
    padding: 10px;
    color: #007bff;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #27292B;
}

.sidebar a.active {
    background-color: #7752FE;
    border: 1px solid #5426FF;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
}  


.sidebar a.active,
.sidebar a:hover {
    background-color: #5426FF;
    border: 1px solid #5426FF;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
}  
